<a href="https://colab.research.google.com/github/cang-coder/BME3053C-Fall-2025/blob/main/lessons-solved/05_Advanced_DataFrame_Operations_10_10_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BME3053C - Computer Applications for BME

<br/>

<h1 align="center">Advanced DataFrame Operations</h1>

---

<center><h2>Lesson: 05</h2></center>

<br/>

<center><img src='https://github.com/snsie/aicc24/blob/main/graphics/pandas_logo.png?raw=1' alt='The Pandas logo' align='center' width=200></center>

<br/>

### Original Lesson Link: [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/uf-bme/BME3053C-Fall-2025/blob/main/lessons/05_Advanced_DataFrame_Operations.ipynb)

### **Covered Topics**

1. **Indexing and Iteration**

   - Different ways to access data in DataFrames
   - Efficient methods for iterating through rows and columns

2. **Combining DataFrames**

   - Merging DataFrames
   - Concatenating DataFrames

3. **Data Cleaning**
   - Handling missing values and duplicates
   - Data type conversion

#### Import Pandas

In [ ]:
import pandas as pd

## Indexing and Iteration

### Accessing Data in DataFrames

- Use `.iloc[]` for integer position-based indexing (e.g., df.iloc[0, 1] for first row, second column)
- Use `.loc[]` for label-based indexing (e.g., df.loc['row_label', 'column_name'])

- Example:
  - df.iloc[0, 1] gets value in first row, second column regardless of labels
  - df.loc['A', 'price'] gets value where index='A' and column='price'

In [ ]:
sample_data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
}
df = pd.DataFrame(sample_data)
df.head()

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

In [ ]:
# Access first row using integer-based indexing
print('\nFirst row using iloc:')
df.iloc[0]

First row using iloc:

A      1
B     10
C    100
Name: 0, dtype: int64

In [ ]:

# Access first 3 rows and first 3 columns using iloc
print('\nFirst 3 rows and first 3 columns using iloc:')
print(df.iloc[0:3, 0:3])

First 3 rows and first 3 columns using iloc:
   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300

In [ ]:
# Access first row using label-based indexing
# Note: For this dataset, .loc[] with integer index acts similar to .iloc[]
# because the index is numeric and sequential starting from 0

print('First row using loc:')
print(df.loc[0])

First row using loc:
A      1
B     10
C    100
Name: 0, dtype: int64

In [ ]:
# Access first 3 rows and specific columns using loc
print('\nFirst 3 rows and selected columns using loc:')
print(df.loc[0:2, ['A', 'B']])

First 3 rows and selected columns using loc:
   A   B
0  1  10
1  2  20
2  3  30

### When .loc with integer index differs from .iloc

1. **Non-sequential index**: If DataFrame index is not 0,1,2,...

   - `.loc[0]` looks for row with index label 0 (may not exist)
   - `.iloc[0]` gets first row regardless of its index

2. **Non-numeric index**: If DataFrame uses string/date indices

   - `.loc[]` won't work with integer input
   - `.iloc[]` still works with integer positions

3. **Gaps in numeric index**: If index like [0,2,5,...]
   - `.loc[1]` looks for index 1 (doesn't exist)
   - `.iloc[1]` gets second row (index 2)

Example showing difference with non-sequential index:

In [ ]:

example_df = pd.DataFrame({'A': [1,2,3], 'B': [4,5,6]}, index=[10,20,30])
print("\nExample with non-sequential index:")
print("Using .loc[10]:")  # Gets row with index label 10
print(example_df.loc[10])
print("\nUsing .iloc[0]:")  # Gets first row regardless of index
print(example_df.iloc[0])

Example with non-sequential index:
Using .loc[10]:
A    1
B    4
Name: 10, dtype: int64

Using .iloc[0]:
A    1
B    4
Name: 10, dtype: int64

In [ ]:
example_df = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]}, index=[10,20,30])
example_df

    A  B
10  1  4
20  2  5
30  3  6

#### ✏️ **Exercise**

1. Create a DataFrame with the following data:
   - Columns: 'Name', 'Age', 'City'
   - Data: [['Alice', 25, 'New York'], ['Bob', 30, 'Boston'], ['Charlie', 35, 'Chicago']]
   - Index: [100, 200, 300]
2. Use .loc[] to:
   - Get the row with index 200
3. Use .iloc[] to:
   - Get the first row
   - Get the second and third rows with only the 'Name' and 'City' columns

In [ ]:
data = [['Alice', 25, 'New York'], ['Bob', 30, 'Boston'], ['Charlie', 35, 'Chicago']]
columns= ['Name', 'Age', 'City']
indices= [100, 200, 300]
example_df= pd.DataFrame(data=data, columns=columns, index=indices)
print('Part 1:')
print(example_df)
#Part 2
print('Part 2:')
print(example_df.loc[200])

#Part 3
print('Part 3:')
print(example_df.iloc[0])
print(example_df.iloc[1:3, [0,2]])

Part 1:
        Name  Age      City
100    Alice   25  New York
200      Bob   30    Boston
300  Charlie   35   Chicago
Part 2:
Name       Bob
Age         30
City    Boston
Name: 200, dtype: object
Part 3:
Name       Alice
Age           25
City    New York
Name: 100, dtype: object
        Name     City
200      Bob   Boston
300  Charlie  Chicago

## Iterating Through Rows and Columns

#### Using .iterrows()

- Iterates through DataFrame rows as (index, Series) pairs
- Each row is returned as a pandas Series object
- Useful for row-wise operations
- Note: Can be slower than vectorized operations

#### Using .items()

- Iterates through DataFrame columns as (column_name, Series) pairs
- Each column is returned as a pandas Series object
- Useful for column-wise operations

#### Best Practices:

- Use vectorized operations when possible for better performance
- Only use iteration when necessary for custom row/column operations
- Consider using .apply() as an alternative to explicit loops

In [ ]:
sample_data = {
    'A': [1,2,3,4,5],
    'B': [10,20,30,40,50],
    'C': [100,200,300,400,500]
}

df = pd.DataFrame(sample_data)

for index, row in df.iterrows():
    print(f"Row {index}: {row['A']}")
    if index > 3:
        break

Row 0: 1
Row 1: 2
Row 2: 3
Row 3: 4
Row 4: 5

In [ ]:
for column_name, column_data in df.items():
  print(f'Column {column_name}: {column_data}')
    #if column_name == 'A':  # Stop after mean radius column
        #print(f"Column {column_name}: {column_data[0:5]}")  # Print first value in each column
        #break

Column A: 0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64
Column B: 0    10
1    20
2    30
3    40
4    50
Name: B, dtype: int64
Column C: 0    100
1    200
2    300
3    400
4    500
Name: C, dtype: int64

In [ ]:
for column_name, column_data in df.items():
  print(f'Column {column_name}: {column_data[0]}')
    #if column_name == 'A':  # Stop after mean radius column
        #print(f"Column {column_name}: {column_data[0:5]}")  # Print first value in each column
        #break

Column A: 1
Column B: 10
Column C: 100

In [ ]:
for column_name, column_data in df.items():
  if column_name == 'A':  # Stop after mean radius column
        print(f"Column {column_name}: {column_data[0:5]}")  # Print first value in each column
        break

Column A: 0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64

#### ✏️ **Exercise**

Create a loop using .items() to find the maximum value in each column of df.
Print the column name and its maximum value.

- Example output:

`A: 5`

`B: 50`

`C: 500`

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': [1,2,3,4,5], 'B': [10,20,30,40,50], 'C': [100,200,300,400,500]})

for column_name, column_data in df.items():
  max_value = column_data.max()
  print(f'{column_name}: {max_value}')

A: 5
B: 50
C: 500

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': [1,2,3,4,5], 'B': [10,20,30,40,50], 'C': [100,200,300,400,500]})

for column_name, column_data in df.items():
  print(f'{column_name}: {column_data.max()}')

A: 5
B: 50
C: 500

## Combining DataFrames

### Concatenating Datasets with pd.concat()

- Use `pd.concat()` to stack DataFrames vertically or horizontally
- Parameters:
  - `axis=0`: Stack vertically (default)
  - `axis=1`: Stack horizontally
  - `ignore_index`: Reset index after concatenation

In [ ]:
# Create sample DataFrames
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
})

df2 = pd.DataFrame({
    'A': ['A3', 'A4', 'A5'],
    'B': ['B3', 'B4', 'B5']
})

df3 = pd.DataFrame({
    'C': ['C0', 'C1', 'C2'],
    'D': ['D0', 'D1', 'D2']
})

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)
print("\nDataFrame 3:")
print(df3)

# Vertical concatenation (axis=0)
vertical_concat = pd.concat([df1, df2])
print("\nVertical concatenation (axis=0):")
print(vertical_concat)

DataFrame 1:
    A   B
0  A0  B0
1  A1  B1
2  A2  B2

DataFrame 2:
    A   B
0  A3  B3
1  A4  B4
2  A5  B5

DataFrame 3:
    C   D
0  C0  D0
1  C1  D1
2  C2  D2

Vertical concatenation (axis=0):
    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In [ ]:
print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)
# Vertical concatenation with reset index
vertical_concat_reset = pd.concat([df1, df2], ignore_index=True)
print("\nVertical concatenation with reset index:")
print(vertical_concat_reset)

DataFrame 1:
    A   B
0  A0  B0
1  A1  B1
2  A2  B2

DataFrame 2:
    A   B
0  A3  B3
1  A4  B4
2  A5  B5

Vertical concatenation with reset index:
    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4
5  A5  B5

In [ ]:
print("DataFrame 1:")
print(df1)

print("\nDataFrame 3:")
print(df3)
# Horizontal concatenation (axis=1)
horizontal_concat = pd.concat([df1, df3], axis=1)
print("\nHorizontal concatenation (axis=1):")
print(horizontal_concat)

DataFrame 1:
    A   B
0  A0  B0
1  A1  B1
2  A2  B2

DataFrame 3:
    C   D
0  C0  D0
1  C1  D1
2  C2  D2

Horizontal concatenation (axis=1):
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2

### Merging Datasets with pd.merge()

- Use `pd.merge()` to combine DataFrames based on common columns/keys
- Similar to SQL JOIN operations
- Use `on`: to specify the column(s) to merge on

In [ ]:
# Single key merge
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'columnA': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['A', 'B'], 'columnB': [3, 4]})
merged_single = pd.merge(df1, df2, on='key')

print("DataFrame 1:")
print(df1)

print("\nDataFrame 2:")
print(df2)

print("\nSingle key merge:")
print(merged_single)

DataFrame 1:
  key  columnA
0   A        1
1   B        2
2   C        3

DataFrame 2:
  key  columnB
0   A        3
1   B        4

Single key merge:
  key  columnA  columnB
0   A        1        3
1   B        2        4

In [ ]:
# Multiple key merge
df3 = pd.DataFrame({'ColumnA': ['A', 'B', 'C', 'D'], 'ColumnB': [1, 2, 3, 4], 'ColumnX': [1, 2, 3, 4]})
df4 = pd.DataFrame({'ColumnA': ['B', 'C', 'D', 'E'], 'ColumnB': [2, 3, 1, 2], 'ColumnY': [4, 5, 6, 7]})
merged_multi = pd.merge(df3, df4, on=['ColumnA', 'ColumnB'])

print("DataFrame 1:")
print(df3)

print("\nDataFrame 2:")
print(df4)

print("Multiple key merge:")
print(merged_multi)
print()

DataFrame 1:
  ColumnA  ColumnB  ColumnX
0       A        1        1
1       B        2        2
2       C        3        3
3       D        4        4

DataFrame 2:
  ColumnA  ColumnB  ColumnY
0       B        2        4
1       C        3        5
2       D        1        6
3       E        2        7
Multiple key merge:
  ColumnA  ColumnB  ColumnX  ColumnY
0       B        2        2        4
1       C        3        3        5

#### ✏️ **Exercise**

Try to predict the output of the following operations:

1. What will happen when we merge these DataFrames?
   ```python
   df1 = pd.DataFrame({'key': ['A','B'], 'val': [1,2]})
   df2 = pd.DataFrame({'key': ['B','C'], 'val': [3,4]})
   pd.merge(df1, df2, on='key')
   ```
2. What will happen when we concatenate the same DataFrames?
   ```python
   pd.concat([df1, df2])
   ```
   Key differences to note:

- merge: Combines based on matching values in the 'key' column
- concat: Simply stacks the DataFrames, keeping all rows
  Check your predictions in the next code cell!

In [ ]:
df1 = pd.DataFrame({'key': ['A','B'], 'val': [1,2]})
df2 = pd.DataFrame({'key': ['B','C'], 'val': [3,4]})
pd.merge(df1, df2, on='key')

  key  val_x  val_y
0   B      2      3

In [ ]:
pd.concat([df1,df2])

  key  val
0   A    1
1   B    2
0   B    3
1   C    4

## Data Cleaning and Preprocessing

### Checking for Missing Values

- Use `.isna()` or `.isnull()` to check for missing values.
- Use `.notna()` or `.notnull()` to check for non-missing values.
- Use `.any()` to see if any values are missing in a DataFrame.
- Use `.sum()` to count the number of missing values in each column.

In [1]:
import pandas as pd
df_with_nan = pd.DataFrame({'A': [None, None, 3, 1], 'B': [4, None, None, 33]})
df_with_nan.iloc[0, 0] = pd.NA  # Introduce pd.NA to make .isna different from .isnull
print("DataFrame with NaN, None, and pd.NA values:")
print(df_with_nan)

DataFrame with NaN, None, and pd.NA values:
     A     B
0  NaN   4.0
1  NaN   NaN
2  3.0   NaN
3  1.0  33.0

In [2]:
print("\nCheck for missing values using .isna():")
print(df_with_nan.isna())

Check for missing values using .isna():
       A      B
0   True  False
1   True   True
2  False   True
3  False  False

isna

In [ ]:
print("\nCheck for non-missing values using .notna():")
print(df_with_nan.notna())

Check for non-missing values using .notna():
       A      B
0  False   True
1  False  False
2   True  False
3   True   True

In [ ]:
print("\nCheck if any values are missing in the DataFrame using .any():")
print(df_with_nan.isna().any())

Check if any values are missing in the DataFrame using .any():
A    True
B    True
dtype: bool

In [3]:

print("\nCount the number of missing values in each column using .sum():")
print(df_with_nan.isna().sum())

Count the number of missing values in each column using .sum():
A    2
B    2
dtype: int64

### Handling Missing Values

- Use `.fillna()` to replace missing values with a specified value.
- Use `.dropna()` to remove rows or columns with missing values.

In [ ]:
df_with_nan = pd.DataFrame({'A': [1, None, 3], 'B': [4, 5, None]})
filled_df = df_with_nan.fillna(0)
print(filled_df)

     A    B
0  1.0  4.0
1  0.0  5.0
2  3.0  0.0

In [ ]:
df_with_nan = pd.DataFrame({'A': [1, None, 3], 'B': [4, 5, None]})
dropped_df = df_with_nan.dropna()
print(dropped_df)

     A    B
0  1.0  4.0

### Data Type Conversion

- Use `.astype()` to convert data types.

In [18]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4.0, 5.0, 6.0]})
print('before conversion:')
print(df.dtypes)
df['B'] = df['B'].astype(int)
print('after conversion:')
print(df.dtypes)
print(df)

before conversion:
A      int64
B    float64
dtype: object
after conversion:
A    int64
B    int64
dtype: object
   A  B
0  1  4
1  2  5
2  3  6

In [7]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4.0, 5.0, 6.0]})
print('before conversion:')
print(df.dtypes)
df['A'] = df['A'].astype(float)
print('after conversion:')
print(df.dtypes)
print(df)

before conversion:
A      int64
B    float64
dtype: object
after conversion:
A    float64
B    float64
dtype: object
     A    B
0  1.0  4.0
1  2.0  5.0
2  3.0  6.0

#### ✏️ Exercise: DataFrame Treasure Hunt

In this exercise, you'll be a data detective on a treasure hunt.
Your goal is to clean and preprocess the given DataFrame to uncover hidden treasures (valuable insights).

##### Step 1: Create the DataFrame

Create a DataFrame with the following data:

```python
data = {
    'Name': ['Alice', 'Bob', None, 'David', 'Eva'],
    'Age': [25, None, 35, 45, None],
    'Score': ['85.5', '90.0', None, '088.0', '92.0']
}
```

##### Step 2: Print the person 'Name' with the highest score who isn't missing values in any column

**Hint: You can use the [sort_values](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html) method to sort the DataFrame by the 'Score' column.**

When sorting values in a DataFrame, the original indices are preserved.
If you want to reset the indices after sorting, you can use the reset_index method.

For example:

```python
sorted_df = df.sort_values(by='Column_Name', ascending=False).reset_index(drop=True)
```

In [17]:
#Step 1
data = {
    'Name': ['Alice', 'Bob', None, 'David', 'Eva'],
    'Age': [25, None, 35, 45, None],
    'Score': ['85.5', '90.0', None, '088.0', '92.0']
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print("\nDataFrame information:")
print(df.info())

df_clean = df.dropna()
df_clean['Score'] = pd.to_numeric(df_clean['Score'])
print("\nCleaned DataFrame:")
print(df_clean)

#Step 2
sorted_df = df_clean.sort_values(by='Score', ascending=False).reset_index(drop=True)
print("\nSorted DataFrame:")
print(sorted_df)

highest_score = sorted_df.loc[0]
print(f"\nPerson with the highest score: {highest_score['Name']}")
print(f"Age: {highest_score['Age']}")
print(f"Score: {highest_score['Score']}")

Original DataFrame:
    Name   Age  Score
0  Alice  25.0   85.5
1    Bob   NaN   90.0
2   None  35.0   None
3  David  45.0  088.0
4    Eva   NaN   92.0

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     3 non-null      float64
 2   Score   4 non-null      object
dtypes: float64(1), object(2)
memory usage: 252.0+ bytes
None

Cleaned DataFrame:
    Name   Age  Score
0  Alice  25.0   85.5
3  David  45.0   88.0

Sorted DataFrame:
    Name   Age  Score
0  David  45.0   88.0
1  Alice  25.0   85.5

Person with the highest score: David
Age: 45.0
Score: 88.0

/tmp/ipython-input-3774233578.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Score'] = pd.to_numeric(df_clean['Score'])

In [16]:
data = {
    'Name': ['Alice', 'Bob', None, 'David', 'Eva'],
    'Age': [25, None, 35, 45, None],
    'Score': ['85.5', '90.0', None, '088.0', '92.0']
}

data_df = pd.DataFrame(data)

data_df['Score']=data_df['Score'].astype(float)
#print(data_df['Score'])

sorted_data_df = data_df.sort_values(by='Score', ascending=False).reset_index(drop=True)
dropped_df= sorted_data_df.dropna().reset_index(drop=True)
row_with_highest_score=dropped_df.iloc[0,[0,2]]
name_of_person=row_with_highest_score['Name']
highest_valid_score=row_with_highest_score['Score']
output_str=f'{name_of_person} had the highest score, which was {highest_valid_score}'
print(output_str)

David had the highest score, which was 88.0